.container {
    border: 2px solid red;
    box-sizing: border-box;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.custom {
    max-width: 100%;
    height: auto;
}

.subContainer > div {
    padding: 2%;
}

.container > div:nth-child(1) {
    flex-basis: 60%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}

.container > div:nth-child(2) {
    flex-basis: 38%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}

.subContainer > div {
    border-radius: 4px;
    margin-top: 1%;
}

.bold {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.subContainer button {
    width: 99%;
    color: #fff;
    background-color: #002f34;
    border-radius: 4px;
    border: 5px solid #002f34;
    padding: 1% 2%;
    margin-top: 2%;
    font-size: 16px;
    font-weight: 700;
}

.subContainer button:hover {
    color: #002f34;
    background-color: #fff;
}

.spanCont {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
}

.spanCont > span {
    /* border: 2px solid red; */
    flex-basis: 25%;
}

.left_right {
    display: flex;
}

.left_right > div:nth-child(2) {
    flex-grow: 1;
}

.hover {
    cursor: pointer;
}